* {
  box-sizing: border-box;
}

body {
  padding-right: 15px;
  /* 幅のリフローを避ける */
}

// 変数の設定 ===========================
// 色 --------------------------------
$backGroundBase:#fff; //70%
$backGroundMain:#fee898; //25%
$backGroundAccent:#8cbee8; //5%
$fontColorPrimary:#fff;
$fontColorSecondary:#8cbee8;
$fontColorThird:#301f1b;
//$fontBackColorPrimary:;
//$fontBackColorSecondary:;
// フォント ---------------------------
$fontFamilyLogo:'Calligraffitti',
; //ロゴ用の特別フォント
$fontFamilyPrimary:'Open Sans',
sans-serif; //主に使うフォント
$fontFamilySecondary:-apple-system,
system-ui,
system-ui,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif; //補佐的に使うフォント
// boxShadowの設定 ===========================
$boxShadowGoogleCard: 0 2px 5px rgba(0, 0, 0, 0.26);
$boxShadowGoogleApp: 0 2px 10px rgba(0, 0, 0, .2);

// 各部の設定 ===========================
a {

  text-decoration: none;
}

// アニメーション ===========================
[data-zoom-up] {
  opacity: 0;
  transition: all 0.4s;
  transform: scale(0.5);
}

[data-zoom-up].data-zoom-up {
  opacity: 1;
  transform: scale(1);
}

// フェードイン ===========================
[data-fadeIn] {
  opacity: 0;
  transition: all 0.4s;
  transform: translateY(40px);
}

[data-fadeIn].is-over {
  opacity: 1;
  transform: translateY(0);
}

// 横のフェードイン ---------------------------
[data-fadeId-right] {
  transform: translateX(50px);
  /* 最初は元の位置より左にずらしておく */
  opacity: 0;
  /* 最初は非表示にしておく */
  transition: opacity 1s, transform 0.4s;
  /* 透明度と位置を設定 */
}

/* 条件を満たしたあとに追加するクラス */
[data-fadeId-left].is-over {
  opacity: 1;
  /* 表示させる */
  transform: translateX(0);
  /* 位置を最初の位置に戻す */
}

[data-fadeId-left] {
  transform: translateX(-50px);
  /* 最初は元の位置より左にずらしておく */
  opacity: 0;
  /* 最初は非表示にしておく */
  transition: opacity 1s, transform 0.4s;
  /* 透明度と位置を設定 */
}

/* 条件を満たしたあとに追加するクラス */
[data-fadeId-right].is-over {
  opacity: 1;
  /* 表示させる */
  transform: translateX(0);
  /* 位置を最初の位置に戻す */
}

// 各部の設定 ===========================

//ヘッダー
header {
  position: fixed;
  top: 0;
  left: 0;
  background: $backGroundMain;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  height: 56px;
  box-shadow: $boxShadowGoogleApp;
  z-index: 800;

  .header-logo {
    font-size: 32px;
    font-weight: 600;
    color: $fontColorSecondary;
    font-family: $fontFamilyPrimary;
    line-height: 40px;
  }

  .header-list-items {
    display: flex;
    justify-content: space-between;
    width: 680px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;

    .header-list-item {
      a {
        color: $fontColorSecondary;
        font-weight: bold;
        background: $backGroundMain;
        padding: 0px 12px;
        display: block;
        height: 30px;
        width: 120px;
        text-align: center;
        margin-right: 20px;
        line-height: 30px;
        box-shadow: $boxShadowGoogleApp;
        transition: all 0.2s;

        &:hover {
          transform: scale(1.05);
        }

        &:active {
          box-shadow: $boxShadowGoogleCard;

        }
      }
    }
  }
}

/*============================
#top
============================*/
#top.top {
  background-image: url(/img/top-bg.png);
  background-size: 150%;
  background-repeat: no-repeat;
  height: 800px;
  display: grid;
  place-items: center;
  position: relative;

  .top-ttl-wrapper {
    position: absolute;
    box-shadow: $boxShadowGoogleCard;
    text-align: center;
    background-color: #8cbee8;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .top-ttl {
      display: block;
      font-family: "Calligraffitti";
      font-size: 60px;
      padding: 28px 0 10px;
      font-weight: 600;
      color: $fontColorPrimary;
      letter-spacing: 4px;
    }

    .top-sub-ttl {
      font-family: $fontFamilyPrimary;
      width: 100%;
      font-size: 24px;
      font-weight: 600;
      color: $fontColorSecondary;
      padding: 10px;
      display: block;
      background: $backGroundBase;
    }
  }
}

a.top-icon {
  width: 80px;
  height: 80px;
  background-color: $backGroundBase;
  text-align: center;
  box-shadow: $boxShadowGoogleApp;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.05);
  }

  i.fas.fa-angle-double-down {
    margin-top: 6px;
    font-size: 64px;
    color: $backGroundAccent;
  }
}

/*============================
#aboutMe
============================*/
.section-ttl-wrapper {
  display: grid;
  place-items: center;

  .section-ttl {
    margin-top: 40px;
    font-size: 48px;
    color: $fontColorSecondary;
    font-family: $fontFamilyLogo;
    font-weight: bold;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-bottom: 1em;

    &:before {
      position: absolute;
      width: 80%;
      height: 4px;
      background-color: $fontColorSecondary;
      bottom: -10px;
      left: 10%;
      content: "";
      transform: translateX(-50%);
      transform: translateY(-50%);
    }
  }
}

section {
  padding: 40px 0px;
}

section#aboutMe.aboutMe {
  background: $backGroundMain;
  padding-bottom: 80px;

  .aboutMe-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .aboutMe-item-personal {
      width: 480px;
      margin: 0 40px 0 0;
      flex-direction: column;
      justify-content: flex-end;

      div.aboutMe-ttl-wrapper {
        box-shadow: $boxShadowGoogleCard;
        background: $backGroundAccent;
        padding: 20px 0 20px 0%;
        width: 100%;

        h2#aboutMe-name.aboutMe-name {
          color: $fontColorPrimary;
          font-size: 24px;
          text-align: center;

        }
      }

      div.aboutMe-profile-wrapper {
        box-shadow: $boxShadowGoogleCard;
        width: 400px;
        margin-top: 40px;
        height: auto;
        margin-left: auto;
        background-color: #ffff;
        padding: 40px 20px;
        font: 16px #333333 400;
        letter-spacing: 1px;
        line-height: 20px;
      }
    }

    div.aboutMe-text-wrapper {
      padding: 40px 20px;
      box-shadow: $boxShadowGoogleCard;
      background-color: $backGroundBase;
      width: calc(80% - 40px - 360px);
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .aboutMe-img-wrapper {
        display: grid;
        place-items: center;
        width: 180px;
        height: 180px;
        margin: 40px;



        .aboutMe-img {
          box-shadow: $boxShadowGoogleCard;
          border-radius: 999px;
          width: 100%;
          height: 100%;
        }

      }

      .aboutMe-description {
        width: 360px;

        p.aboutMe-txt {
          font: 16px #333333 400;
          letter-spacing: 1px;
          line-height: 20px;
        }
      }

    }
  }
}

/*============================
#portfolio
============================*/
div.inner {
  width: 90%;
  margin: 0 auto;
}

.portfolio {
  .section-ttl {
    color: $fontColorSecondary;

    &::before {
      background-color: $backGroundAccent;
    }
  }
}

//スライダーの設定

.slide-btn {
  position: absolute;
  content: "";

  background-color: #FFF;
  border-radius: 100%;
  padding: 5px;
  top: 40%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: block;
  z-index: 30;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.1s;
  box-shadow: $boxShadowGoogleApp;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    box-shadow: none;
  }
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 24px;
  line-height: 1;
  opacity: .75;
  color: $backGroundAccent;
  -webkit-font-smoothing: antialiased;
}

.prev-btn {
  left: 0;
  background-image: url(/img/arrow_prev.png);

}

.next-btn {
  right: 0;
  background-image: url(/img/arrow_next.png);
}

.portfolio-item {
  cursor: pointer;
  padding: 10% 2%;
  height: auto;
  margin: 0 auto;
  transition: all .4s;

  &:hover {
    transform: translateY(-10%);

  }
}

.portfolio-slider-img {
  width: 100%;
  height: 100%;
  box-shadow: $boxShadowGoogleCard;

}


/*============================
#skills
============================*/
section#skills.skills {
  background-color: $backGroundMain;

  div.inner {

    /*============================
#skill-items
============================*/
    .skill-items.skill-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      /*============================
#skill-item
============================*/
      .skill-item.skill-item {
        background-color: $backGroundBase;
        width: 240px;
        height: 320px;
        padding: 10px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        box-shadow: $boxShadowGoogleCard;
        margin: 20px 80px;

        /*============================
#skill-item-img
============================*/
        .skill-item-img.skill-item-img {
          width: 200px;
          height: 160px;
        }

        div.skill-item-wrapper {
          margin-top: 20px;

          h4.skill-ttl {
            font: 600 24px $fontFamilyPrimary;
            color: $fontColorSecondary;
            text-align: center;
          }

          p.skill-txt {
            font: 600 12px $fontFamilyPrimary;
            color: $fontColorSecondary;
            text-align: left;
          }
        }
      }
    }
  }
}


/*============================
#flow
============================*/
section#flow.flow {
  h3.section-ttl {
    color: $fontColorSecondary;

    &::before {
      background-color: $fontColorSecondary;
    }
  }

  ul.flow-process-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li.flow-process-item {
      box-shadow: $boxShadowGoogleCard;
      width: 320px;
      height: auto;
      border: 2px solid #000;
      padding: 40px 20px;
      margin: 20px 10px;

      p.step {
        margin: 0 auto 20px;
        font: 16px bold;
        color: #fff;
        background-color: $fontColorSecondary;
        text-align: center;
        padding: 4px 8px;
        width: 180px;
        height: auto;
        border-radius: 4px;
      }

      p.process-text {
        font: 16px #301f1b 400;
        letter-spacing: 1px;
        line-height: 24px;
      }
    }
  }
}

/*============================
#contact
============================*/
input,
textarea {
  border: solid 1px $fontColorSecondary;
  font-size: 18px;
  padding: 8px 4px;

}

textarea {
  height: 280px;
}

section#contact.contact {
  background-image: url(/img/contact-bg.png);
  background-size: 150%;
  height: 1000px;
  background-position: center left;

  div.section-contact-ttl-wrapper {
    margin: 40px 0 40px 0;

    h3.section-contact-ttl {
      font-family: $fontFamilyLogo;
      box-shadow: $boxShadowGoogleCard;
      width: 680px;
      font-size: 40px;
      background-color: $backGroundAccent;
      color: $fontColorPrimary;
      padding: 20px 20px 20px;
      text-align: center;
    }
  }

  div.inner.form-item-wrapper {
    box-shadow: $boxShadowGoogleCard;
    background: rgba(#fff, 0.4);
    width: 580px;
    padding: 40px 40px;
    margin-left: 100px;

    form.contact {
      .input-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 16px;

        .contact-label {
          display: block;
          cursor: pointer;
          color: $fontColorSecondary;

        }

        /*============================
#input-email
============================*/
        .input-name,
        input#input-email.input-email {
          margin-top: 8px;
          width: 100%;
        }

        /*============================
#mail-textarea
============================*/
        textarea#mail-textarea.mail-textarea {
          width: 100%;
          margin-top: 8px;
        }
      }
    }
  }
}

.btn {
  display: inline-block;
  padding: .8em 4em;
  margin: 0 0 1em;
  background-image: none;
  background-color: $fontColorSecondary;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: $boxShadowGoogleApp;
  position: relative;
}

.btn:hover .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn::-moz-foucus-inner {
  padding: 0;
  border: none;
}

/* フッター ==========================*/
footer {
  width: 100%;
  padding: 20px 0px;
  background-color: $fontColorSecondary;
  height: auto;
  color: #FFF;
  text-align: center;

  .footer-copy {
    opacity: 0.8;
  }
}


/* CSS サークルバナー ==========================*/
.btn-wrapper {
  margin-top: 40px;
  display: grid;
  place-items: center;
}

.circle-banner {
  position: fixed;
  right: 0;
  bottom: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $backGroundAccent;
  z-index: 10;
  display: grid;
  place-items: center;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transform: translateX(100%) rotate(90deg);
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: $boxShadowGoogleApp;
}

.circle-banner.is-over {
  right: 10px;
  transform: translateX(0) rotate(0);
}

.circle-banner:hover {
  transform: scale(1.2);
}

// モーダル ===========================
/*----- モーダルの設定 -----*/

/* モーダル発火時の背景の設定 */

.modal_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(#fff, 0.5);
  z-index: 10001;
  display: none;
}

/* モーダル内のインナー（本体） */

.modal_inner {
  padding: 40px 0 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  width: 80%;
  height: auto;
  top: 5%;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%);
  max-height: 100%;
  overflow-y: auto;
}

/* モーダルを閉じるボタン */

.modal_close {
  position: absolute;
  top: 0;
  right: 0;
  right: 0;
  font-size: 30px;
  cursor: pointer;
}

.modal_img {
  width: 60%;
  height: auto;
  margin: 0 auto;
}



/* モーダルのテキスト表示部分 */

.modal_txt_area {
  width: auto;
  height: auto;
  padding: 20px 10px;
}

.modal_title {
  text-align: center;
  font-family: $fontFamilySecondary;
  color: $fontColorSecondary;
  font-weight: bold;
  font-size: 28px;
  margin: 20px auto;
}

.support {
  background-color: #ffff;
}

.support .catchCopy {
  font-size: 32px;

}

.support_img {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 600px;
}

// モーダル ===========================

/*============================
#thxMessage
============================*/
div#thxMessage {
  overflow-y: hidden;
  background: rgba(#fff, 0.5);
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  place-items: center;

  .thxMessage-box {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $backGroundBase;
    width: 360px;
    height: 320px;
    box-shadow: $boxShadowGoogleCard;
    color: #333333;

    div.afterformtit {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
    }

    div.formtxt {
      text-align: center;

      span {
        font: 16px;

      }
    }
  }

}

/* タブレット用レスポンシブ===================*/
@media(max-width:900px) {

  //ヘッダー
  header {
    background: $backGroundMain;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 56px;
    box-shadow: $boxShadowGoogleApp;
    position: fixed;
    z-index: 400;

    /* CSS ハンバーガーメニュー ==========================*/
    .menu-trigger-wrapper {
      position: absolute;
      top: -14px;
      right: 0;

      .btn-trigger {

        position: relative;
        width: 50px;
        height: 44px;
        cursor: pointer;
        top: 20px;
        right: 20px;
      }

      .btn-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $fontColorSecondary;
        border-radius: 4px;
      }

      .btn-trigger,
      .btn-trigger span {
        display: inline-block;
        transition: all .5s;
        box-sizing: border-box;
      }

      .btn-trigger span:nth-of-type(1) {
        top: 0;
      }

      .btn-trigger span:nth-of-type(2) {
        top: 20px;
      }

      .btn-trigger span:nth-of-type(3) {
        bottom: 0;
      }

      #header-btn.active span:nth-of-type(1) {
        -webkit-transform: translateY(20px) rotate(-315deg);
        transform: translateY(20px) rotate(-315deg);
      }

      #header-btn.active span:nth-of-type(2) {
        opacity: 0;
      }

      #header-btn.active span:nth-of-type(3) {
        -webkit-transform: translateY(-20px) rotate(315deg);
        transform: translateY(-20px) rotate(315deg);
      }

      /* CSS ハンバーガーメニュー ==========================*/
    }

    .header-logo {
      font-size: 32px;
      font-weight: 600;
      color: $fontColorSecondary;
      font-family: $fontFamilyPrimary;
      line-height: 40px;
    }

    .header-list-items {
      position: absolute;
      top: 56px;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      transform: translateX(100%);
      transition: all 0.4s;

      .header-list-item {
        background: rgba($backGroundMain, 0.7);

        a {
          color: $fontColorSecondary;
          font-weight: bold;
          background: rgba($backGroundMain, 0.9);
          margin-top: 2px;
          padding: 2px 12px;
          display: block;
          height: 48px;
          width: 100%;
          text-align: center;
          margin-right: 20px;
          line-height: 48px;
          box-shadow: $boxShadowGoogleCard;
          transition: all 0.2s;

          &:hover {
            transform: scale(1.02);
          }

          &:active {
            box-shadow: $boxShadowGoogleCard;

          }
        }
      }
    }

  }

  .header-list-items.active {
    transform: translateY(0);
  }


  /*============================
#top
============================*/
  #top.top {
    background-image: url(/img/top-bg.png);
    background-size: 150%;
    height: 600px;
    display: grid;
    place-items: center;
    background-color: $backGroundMain;

    .top-ttl-wrapper {
      box-shadow: $boxShadowGoogleCard;
      text-align: center;
      background-color: #8cbee8;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      .top-ttl {
        display: block;
        font-family: "Calligraffitti";
        font-size: 40px;
        padding: 28px 0 10px;
        font-weight: 600;
        color: $fontColorPrimary;
        letter-spacing: 4px;
      }

      .top-sub-ttl {
        font-family: $fontFamilyPrimary;
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        color: $fontColorSecondary;
        padding: 10px;
        display: block;
        background: $backGroundBase;
      }
    }
  }

  a.top-icon {

    width: 80px;
    height: 80px;
    background-color: $backGroundBase;

    text-align: center;
    box-shadow: $boxShadowGoogleApp;
    transition: all 0.4s;

    &:hover {
      transform: scale(1.05);
    }

    i.fas.fa-angle-double-down {
      margin-top: 6px;
      font-size: 64px;
      color: $backGroundAccent;


    }
  }

  /*============================
#aboutMe
============================*/
  .section-ttl-wrapper {
    display: grid;
    place-items: center;

    .section-ttl {
      margin-top: 40px;
      font-size: 40px;
      color: $fontColorSecondary;
      font-family: $fontFamilyLogo;
      font-weight: bold;
      text-align: center;
      position: relative;
      display: inline-block;
      margin-bottom: 1em;

      &:before {
        position: absolute;
        width: 80%;
        height: 4px;
        background-color: $fontColorSecondary;
        bottom: -10px;
        left: 10%;
        content: "";
        transform: translateX(-50%);
        transform: translateY(-50%);
      }
    }
  }

  section {
    padding: 40px 0px;
  }

  section#aboutMe.aboutMe {
    background: $backGroundMain;
    padding-bottom: 80px;

    .aboutMe-items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;

      .aboutMe-item-personal {
        width: 100%;
        margin: 0 40px 0 0;
        flex-direction: column;
        justify-content: flex-end;

        div.aboutMe-ttl-wrapper {
          box-shadow: $boxShadowGoogleCard;
          background: $backGroundAccent;
          padding: 20px 0 20px 0%;
          width: 100%;

          h2#aboutMe-name.aboutMe-name {
            color: $fontColorPrimary;
            font-size: 24px;
            text-align: center;

          }
        }

        div.aboutMe-profile-wrapper {
          box-shadow: $boxShadowGoogleCard;
          width: 100%;
          margin-top: 40px;
          height: auto;
          margin-left: auto;
          background-color: #ffff;
          padding: 40px 20px;
          font: 16px #333333 400;
          letter-spacing: 1px;
          line-height: 20px;
        }
      }

      div.aboutMe-text-wrapper {
        padding: 40px 20px;
        margin: 40px 0 0 0;
        box-shadow: $boxShadowGoogleCard;
        background-color: $backGroundBase;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .aboutMe-img-wrapper {
          width: 180px;
          height: 180px;
          margin: 40px 20px;

          .aboutMe-img {
            box-shadow: $boxShadowGoogleCard;
            border-radius: 999px;
            width: 100%;
            height: 100%;
          }

        }

        .aboutMe-description {
          width: 100%;

          p.aboutMe-txt {
            font: 16px #333333 400;
            letter-spacing: 1px;
            line-height: 20px;
          }
        }

      }
    }
  }

  /*============================
#portfolio
============================*/
  div.inner {
    width: 90%;
    margin: 0 auto;
  }

  .portfolio {
    .section-ttl {
      color: $fontColorSecondary;

      &::before {
        background-color: $backGroundAccent;
      }
    }
  }

  //スライダーの設定

  .slide-btn {
    position: absolute;
    content: "";

    background-color: #FFF;
    border-radius: 100%;
    padding: 5px;
    top: 40%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: block;
    z-index: 30;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.1s;
    box-shadow: $boxShadowGoogleApp;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      box-shadow: none;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    font-family: 'slick';
    font-size: 24px;
    line-height: 1;
    opacity: .75;
    color: $backGroundAccent;
    -webkit-font-smoothing: antialiased;
  }

  .prev-btn {
    left: 0;
    background-image: url(/img/arrow_prev.png);

  }

  .next-btn {
    right: 0;
    background-image: url(/img/arrow_next.png);
  }

  .portfolio-slider-img {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }


  /*============================
#skills
============================*/
  section#skills.skills {
    background-color: $backGroundMain;

    div.inner {

      /*============================
#skill-items
============================*/
      .skill-items.skill-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        /*============================
#skill-item
============================*/
        .skill-item.skill-item {
          background-color: $backGroundBase;
          width: 240px;
          height: 320px;
          padding: 10px 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          flex-direction: column;
          box-shadow: $boxShadowGoogleCard;
          margin: 20px 80px;

          /*============================
#skill-item-img
============================*/
          .skill-item-img.skill-item-img {
            width: 200px;
            height: 160px;
          }

          div.skill-item-wrapper {
            margin-top: 20px;

            h4.skill-ttl {
              font: 600 24px $fontFamilyPrimary;
              color: $fontColorSecondary;
              text-align: center;
            }

            p.skill-txt {
              font: 600 12px $fontFamilyPrimary;
              color: $fontColorSecondary;
              text-align: left;
            }
          }
        }
      }
    }
  }


  /*============================
#flow
============================*/
  section#flow.flow {
    h3.section-ttl {
      color: $fontColorSecondary;

      &::before {
        background-color: $fontColorSecondary;
      }
    }

    ul.flow-process-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li.flow-process-item {
        box-shadow: $boxShadowGoogleCard;
        width: 320px;
        height: auto;
        border: 2px solid #000;
        padding: 40px 20px;
        margin: 20px 10px;

        p.step {
          margin: 0 auto 20px;
          font: 16px bold;
          color: #fff;
          background-color: $fontColorSecondary;
          text-align: center;
          padding: 4px 8px;
          width: 180px;
          height: auto;
          border-radius: 4px;
        }

        p.process-text {
          font: 16px #301f1b 400;
          letter-spacing: 1px;
          line-height: 24px;
        }
      }
    }
  }

  /*============================
#contact
============================*/
  input,
  textarea {
    border: solid 1px $fontColorSecondary;
    font-size: 18px;
    padding: 8px 4px;

  }

  textarea {
    height: 280px;
  }

  section#contact.contact {
    background-image: url(/img/contact-bg.png);
    background-size: cover;
    height: 1000px;

    div.section-contact-ttl-wrapper {
      margin: 40px 0 40px 0;

      h3.section-contact-ttl {
        box-shadow: $boxShadowGoogleCard;
        width: 90%;
        font-size: 32px;
        background-color: $backGroundAccent;
        color: $fontColorPrimary;
        padding: 20px 20px 20px;
        text-align: center;
      }
    }

    div.inner.form-item-wrapper {
      box-shadow: $boxShadowGoogleCard;
      background: rgba(#fff, 0.4);
      width: 90%;
      padding: 40px 20px;
      margin: 0 auto;

      form.contact {
        .input-item {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          flex-direction: column;
          margin-top: 16px;

          .contact-label {
            display: block;
            cursor: pointer;
            color: $fontColorSecondary;
          }

          /*============================
#input-email
============================*/
          .input-name,
          input#input-email.input-email {
            margin-top: 8px;
            width: 100%;
          }

          /*============================
#mail-textarea
============================*/
          textarea#mail-textarea.mail-textarea {
            width: 100%;
            margin-top: 8px;
          }
        }
      }
    }
  }

  .btn {
    display: inline-block;
    padding: .8em 4em;
    margin: 0 0 1em;
    background-image: none;
    background-color: $fontColorSecondary;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: $boxShadowGoogleApp;
    position: relative;
  }

  .btn:hover .btn:focus {
    outline: none;
    box-shadow: none;
  }

  .btn::-moz-foucus-inner {
    padding: 0;
    border: none;
  }

  /* フッター ==========================*/
  footer.footer {
    width: 100%;
    padding: 20px 0px;
    background-color: $backGroundMain;
    height: auto;

    div.footer-top {
      .footer-list-items {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .footer-list-item {

          margin: 4px;

          a {
            display: grid;
            place-items: center;
            font-size: 10px;
            color: $fontColorSecondary;
            font-weight: bold;
            width: 72px;
            height: 72px;
            border-radius: 100px;
            box-shadow: $boxShadowGoogleApp;
            transition: all 0.2s;

            &:hover {
              transform: scale(1.05);
            }

            &:active {
              box-shadow: $boxShadowGoogleCard;

            }
          }
        }
      }

    }

    div.footer-bottom {
      padding: 20px;

      p.footer-copy {
        font-style: 8px;
        color: $fontColorSecondary;
        text-align: center;
      }
    }
  }

  a.sns-icon {
    width: 40px;
    display: grid;
    place-items: center;
    border-radius: 100px;
    background-color: $fontColorSecondary;
    height: 40px;

    i.fab.fa-twitter {
      color: #FFF;
      font-size: 24px;
      line-height: 40px;
    }
  }

  /* CSS サークルバナー ==========================*/
  .btn-wrapper {
    margin-top: 40px;
    display: grid;
    place-items: center;
  }

  .circle-banner {
    position: fixed;
    right: 0;
    bottom: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $backGroundAccent;
    z-index: 10;
    display: grid;
    place-items: center;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transform: translateX(100%) rotate(90deg);
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: $boxShadowGoogleApp;
  }

  .circle-banner.is-over {
    right: 10px;
    transform: translateX(0) rotate(0);
  }

  .circle-banner:hover {
    transform: scale(1.2);
  }

  /*============================
#thxMessage
============================*/
  div#thxMessage {
    overflow-y: hidden;
    background: rgba(#fff, 0.5);
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    place-items: center;

    .thxMessage-box {
      padding: 20px 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: $backGroundBase;
      width: 360px;
      height: 320px;
      box-shadow: $boxShadowGoogleCard;
      color: #333333;

      div.afterformtit {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
      }

      div.formtxt {
        text-align: center;

        span {
          font: 16px;
        }
      }
    }
  }
}