* {
  box-sizing: border-box;
}

// 変数の設定 ===========================
// 色 --------------------------------
$backGroundBase:#fff; //70%
$backGroundMain:#fee898; //25%
$backGroundAccent:#8cbee8; //5%
$fontColorPrimary:#fff;
$fontColorSecondary:#8cbee8;
//$fontBackColorPrimary:;
//$fontBackColorSecondary:;
// フォント ---------------------------
$fontFamilyLogo:'Calligraffitti',
cursive; //ロゴ用の特別フォント
$fontFamilyPrimary:'Open Sans',
sans-serif; //主に使うフォント
$fontFamilySecondary:"Josefin Sans",
sans-serif; //補佐的に使うフォント

// mixinの設定 =========================
/* パーツの設定 =======================*/
/* 位置の調整 =========================*/
/* ヘッダー ==========================*/
//ヘッダー
header {
  width: 100%;

  .header-logo {
    font-size: 20px;
    font-weight: 400;
    line-height: 64px;
    color: $fontColorPrimary;

  }

  .header-list-items {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 680px;

    .header-list-item {
      text-align: center;
    }
  }
}

/* メイン ============================*/
/* フッター ==========================*/
/* CSS サークルバナー ==========================*/
.circle-banner {
  position: fixed;
  right: 0;
  bottom: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba($color:$backGroundAccent, $alpha: 0.8);
  z-index: 10;
  display: grid;
  place-items: center;
  text-align: center;
  color: $backGroundMain;
  font-size: 22px;
  transform: translateX(100%) rotate(90deg);
  transition: all 0.5s;
  cursor: pointer;
}

.circle-banner.is-over {
  right: 10px;
  transform: translateX(0) rotate(0);
}

.circle-banner:hover {
  transform: scale(1.2);
}

/* タブレット レスポンシブの設定 ========*/
@media(max-width:900px) {}

;

/* スマートフォン レスポンシブの設定 =====*/
@media(max-width:670px) {}

;